<% layout("/layouts/boilerplate") %>
    <div class="row mt-3">
        <div class="col-sm-8 offset-sm-2 px-3">
            <h3 class="my-2">Edit your listing</h3>
            <form method="post" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label"><b>Title</b></label>
                    <input type="text" class="form-control" name="listing[title]" value="<%= listing.title %>" required>
                    <div class="valid-feedback">Title looks good!</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label"><b>Description</b></label>
                    <textarea type="text" class="form-control"
                        name="listing[description]" required><%= listing.description %></textarea>
                    <div class="invalid-feedback">Please enter a short description</div>
                </div>

                <div class="mb-3">
                     <p><b>Original Listing Image</b></p>
                    <img class="edit-img" src="<%= originalImageUrl %>" alt="">
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label"><b>Upload New Image</b></label>
                    <input type="file" class="form-control" name="listing[image]" >
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label"><b>Price</b></label>
                        <input type="number" class="form-control" name="listing[price]" value="<%= listing.price %>" required>
                        <div class="invalid-feedback">Please enter a valid price</div>
                    </div>
    
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label"><b>Country</b></label>
                        <input type="text" class="form-control" name="listing[country]" value="<%= listing.country %>" required>
                        <div class="invalid-feedback">Country name should be valid</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label"><b>Location</b></label>
                    <input type="text" class="form-control" name="listing[location]" value="<%= listing.location %>" required>
                    <div class="invalid-feedback">Location should be valid</div>
                </div>

                <button class="btn btn-dark edit-btn mt-3">Edit</button>
                <br><br><br>
            </form>
        </div>
    </div>
    